<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% include 'nav.html' %}
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit: center;
     }
    </style>
    <title>Zig Careers</title>
    <body>
      <div class=".container">
        <h1 class="text-center mt-2 mb-2">Careers</h1>  
        <img class="img-fluid" id='banner' src='https://career-website.priyan5.repl.co/static/Banner1.jpeg'> 
        <h2 class="text-center mt-2 mb-2">About us !</h2>  
        <p class="lead">Hi, Hope you are doing great. This is a great place to explore the jobs that may fit you</p>
        <h2 class="text-center mt-2 mb-2">Open Job Positions</h2>
        <div>
          {% for job in jobs: %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
        <div class="text-center">
        <a href="mailto:narain.priyanka20@gmail.com?body=You%20may%20contact%20us%20on%20this%20email%20and%20your%20issue%20will%20be%20resolved%20in%202%20business%20days" type="button" class="btn btn-primary">Contact Us</a>
        </div>
      {% include 'Foot.html' %}
    </body>
    </div>
    
  </head>
  
</html>
