<style>
  .navbar {
    background-color: #5F9EA0; /* Replace with your desired color */
  }
</style>

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://career-website.priyan5.repl.co/static/download.jpeg" alt="" width="40" height="40" class="d-inline-block align-text-top">
      <span class="larger-text">Priyanka Narain</span>
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .larger-text {
    font-size: 30px; 
  }
</style>
